
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        /* background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(35,19,192,1) 99%); */
        background-image: url(login_page.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-size: cover;
    }
    .container {
        width: 100%;
        max-width: 600px;
        margin: 100px auto;
        text-align: center;
    }
    h2 {
        margin-bottom: 20px;
    }
    .login-option {
        display: inline-block;
        margin: 10px;
        padding: 20px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .login-option:hover {
        background-color: #e0e0e0;
    }